* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  height: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}